{% extends "_base.html" %}
{% block conteudo %}

{% block titulo %}<title>Compras</title>{% endblock %}

<h3>Adicionar item</h3>
<form action="compras_adc.php" method="post">
    <input type="text" name="item">
    <input type="submit" value="Adicionar">
</form>

<hr>

<p> Esta é sua lista de compras:</p>

{% for indice, compra in compras %}

    <li>
        {{compra.item}} {# .item é o nome da coluna #} | 
        <a href="compras_pegando_alterar.php?indice={{compra.id}}">Alterar</a> - 
        <a href="compras_apagar.php?indice={{compra.id}}">Excluir</a>
    </li>    

{% endfor %}


{% endblock %}