<link rel="stylesheet" href="CSS/estilo.css">

<h1>Login</h1>

<a href="templates/novousuario.html">Inserir novo usuário</a>

<form action="autenticar.php" method="POST">
    <p>Login: <input type="text" name="nome" placeholder="Nome de Usuario"></p>
    <p>Senha: <input type="password" name="senha" placeholder="Sua Senha"></p>
    <input type="submit" value="entrar">
</form>

<!-- 

$senha_cripto = password_hash($senha, PASSWORD_BCRYPT);
echo $senha_cripto;

echo password_hash($senha, PASSWORD_BCRYPT, ['cost' => 12]);

Verificar se a senha está correta

if( password_verify($senha, $senha_cripto)) {

    // OK
}