{# templates/sociedade.html #}
{% extends "_base.html" %}

{% block conteudo %}

{% block titulo %}<title>Importância</title>{% endblock %}
<h2>A importância da fruta na sociedade</h2>
<div id="container1">
<img src="https://www.gov.br/saude/pt-br/assuntos/saude-brasil/eu-quero-me-alimentar-melhor/noticias/2022/imagens/4frutaslegumeseverduras.png" width="500px">
<div>
<p>As frutas, legumes e verduras são alimentos in natura e, compõem uma alimentação <b>adequada e saudável</b>. Além de colaborarem para aumentar a diversidade do consumo alimentar, o seu consumo contribui para a manutenção de um peso adequado e para a prevenção da obesidade e de outras doenças crônicas relacionadas à má alimentação.</p>
<p>De acordo com Maria Alvim, nutricionista, doutora em Saúde Coletiva (FMUSP) e pesquisadora do Núcleo de Pesquisas Epidemiológicas em Nutrição e Saúde (Nupens/USP), frutas e hortaliças são fontes de minerais, vitaminas, fibras e outros compostos bioativos, essenciais para a manutenção do peso apropriado e da saúde. As fibras, por exemplo, são importantes para o controle da saciedade e para o bom funcionamento do intestino.</p>
<p>A melhor forma de obter todos os benefícios desses alimentos é por meio da variedade. Segundo a especialista, uma forma de variar a alimentação é sempre ficar de olho na sazonalidade destes alimentos, ou seja, ver qual “está na época”. Os alimentos da época, em geral, ficam mais baratos, são mais saborosos e têm menos agrotóxicos.</p>
</div>
</div>


{% endblock %}